#contact-form {
  width: 50%;
  margin: auto;
}
#contact-form * {
  padding: 4px;
  margin: 8px 0;
}
#contact-form label {
  float: left;
  clear: left;
  width: 30%;
  text-align: right;
  background: #dddddd;
  margin-right: 0;
  padding-right: 8px;
}
#contact-form input,
#contact-form textarea {
  float: left;
  width: 70%;
  border: solid 1px;
  margin-left: 0;
}
#contact-form input[type=submit] {
  margin-left: 30%;
  text-align: center;
}
